/* ----------------------------- 
        CUSTOM VARIABLES 
----------------------------- */

$spacer: 3.25rem;

$primary: #5265e1;
$secondary: #fa5959;
$dark: #5c5f68;
$text-muted: #afb0b3;

$display-font-weight: 700;

/* --- NAVBAR --- */

$font-size-base: 1.15rem;

$nav-link-font-size: 0.85rem;
$navbar-light-color: rgb(80, 80, 80);
$navbar-light-toggler-icon-bg: url("/src/images/icon-hamburger.svg");
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-x: 0;

/* --- BUTTONS --- */

$btn-padding-y: 0.75rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 0.9rem;
$btn-font-weight: 500;
$btn-box-shadow: 0px 4px 6px 0px rgba(82, 101, 225, 0.25);
$enable-shadows: true;

/* --- BOOTSTRAP --- */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* -----------------------------
        CUSTOM SCSS
------------------------------- */

@include media-breakpoint-down(sm) {
  p {
    font-size: 1rem;
    font-weight: 300;
  }
}

p {
  margin-bottom: 1.75rem;
}

/* --- NAVBAR --- */

.navbar-toggler-icon {
  height: 1.1rem;
  width: 1.1rem;
  vertical-align: top;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

nav .btn-secondary {
  padding: 0.5rem 1.9rem;
}

/* --- HERO --- */

#hero-image {
  width: 113.5%;
}

#hero-image,
.feature-image {
  max-width: 650px;
  left: 50%;
  transform: translateX(-50%);
}

/* --- SHAPE --- */

.background-shape {
  position: absolute;
  height: 83%;
  width: 75%;
  top: 30%;
}

.shape-right {
  right: 0;
  border-radius: 150px 0 0 150px;
}

.shape-left {
  left: 0;
  border-radius: 0 150px 150px 0;
}

/* --- BUTTONS --- */

.btn-secondary {
  font-size: 0.85rem;
  color: white;
}

.btn-light {
  color: $dark;
}

@media (max-width: 335px) {
  #hero .btn {
    display: block;
    margin: 0 0 1rem 0;
  }
}

@media (min-width: 336px) {
  #hero .btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #hero .btn:first-of-type {
    margin-right: 1rem;
  }
}

/* --- CENTERED ELEMENTS --- */

.middle {
  max-width: 34rem;
  margin: auto;
  text-align: center;
}

/* --- TAB (EXTENSION) --- */

#myTab {
  padding-right: 0;

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
  }

  .nav-item:first-of-type {
    border-top: 1px solid #dee2e6;
  }

  .nav-link {
    font-size: 1rem;
    width: auto;
    margin: auto;
    color: #6c757d;
    padding: 1.5rem 0;
    text-transform: capitalize;
    border-bottom: 4px solid transparent;
  }

  @include media-breakpoint-up(lg) {
    .nav-item:first-of-type {
      border-top: none;
    }

    .nav-item {
      width: calc(100% / 3);
    }

    .nav-link {
      width: 100%;
    }
  }

  .nav-link:hover {
    color: $secondary;
  }

  .active {
    border-bottom: 4px solid $secondary;
    background-color: transparent;
    border-radius: 0;
    color: black;
  }
}

.feature-image {
  height: 350px;
}

h3 {
  font-size: $nav-link-font-size;
  letter-spacing: 3px;
  font-weight: 400;
}

@include media-breakpoint-down(md) {
  #myTab .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
